@import '_variable.scss';

@mixin titleH4($color) {
  font-size: 1.6em;
  color: $color;
}

@mixin titleH5($color) {
  font-size: 1em;
  color: $color;
}

@mixin button () {
  display: flex;
  background-color: $primary-color;
  text-align: center;
  border: none;
  border-radius: $border-radius;
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
    background-color: #416644FF;
    box-shadow: $shadow;
  }
}
