@mixin title() {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}
