@import '_variable.scss';

@mixin title($c, $fz) {
  font-size: $fz;
  color: $c;
}

@mixin button($br) {
  background-color: $primary-color;
  display: flex;
  text-align: center;
  border: none;
  border-radius: $br;
  outline: none;
  &:hover, &:active, &:focus {
    outline: none;
    background-color: #416644FF;
    box-shadow: $shadow;
  }
}

@mixin image($w, $h) {
  width: $w;
  height: $h;
  margin-right: 30px;
}
