@import "_variable.scss";
@import "_mixin.scss";
@import '_sample.scss';

.bag-coin {
  text-align: center;

  &__item {
    padding: 10px;
    text-align: center;
  }

  &__btn {
    @extend %button-delete;
    margin: auto;
  }
}
