@import '_variable.scss';
@import '_mixin.scss';

.header-bag {
  @include button();
  justify-content: space-between;
  &___wallet {
    @include titleH4(#fff);
    margin-right: 10px;
  }
  &__item {
    @include titleH5(#fff);
    margin-right: 10px;
  }
}
