@import '_variable.scss';
@import '_mixin.scss';
@import '_sample.scss';

.layout {
  height: 100vh;
}

.coin-info {
  @extend %section;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__title-block {
    display: flex;
    align-items: center;
  }

  &__img {
    @include image(60px, 60px);
  }

  &__title {
    font-size: 2em;
    color: #333333;
    display: flex;
    flex-direction: column;
  }

  &__rank {
    background-color: $primary-color;
    box-shadow: $shadow;
    margin-top: 10px;

  }

  &__info-block {
    display: flex;
    max-width: 30%;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  &__btn {
    @extend %button-submit;
  }
}


.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;

  &__block-btn {
    max-width: 50%;
  }

  &__btn {
    @extend %button-group;
  }

}

