@import '_variable.scss';
@import '_mixin.scss';

.navbar {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: $shadow;
}

.top-coin__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  &__block {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }

  &__title {
    @include titleH4($text-color);
    margin-right: 5px;
  }

  &__subtitle {
    color: green;
    line-height: 23px;
  }

  &__img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
}



