@import 'variable';
@import 'mixin';
@import 'sample';

.navbar {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: $shadow;
}

.top-coin {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  &__block {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }

  &__title {
    @extend %title-main-section;
  }

  &__subtitle {
    color: green;
    line-height: 23px;
  }

  &__img {
    @include image(30px, 30px);
    margin-right: 10px;
  }
}

.header-bag {
  @extend %button-submit;
  justify-content: space-between;

  &__wallet {
    margin-right: 10px;
  }

  &__item {
    margin-right: 10px;
  }
}


